.row_poster { 
    width: 100%; 
    object-fit: cover; 
    max-height: 100px; 
    transition: transform 450ms; 
    margin-right: 10px; 
    background-color: black;
    } 
    .row_posters { 
    display: flex; 
    overflow-y: hidden; 
    overflow-x: scroll; 
    padding: 20px; 
    flex-wrap: nowrap; /* Prevents wrapping */
    gap: 5px;
    } 
    .row_posters::-webkit-scrollbar { 
    display: none; 
    } 
    .row_poster:hover { 
    transform: scale(1.08); 
    } 
    .row_posterLarge {
        max-height: 250px;
    }    
    .row_posterLarge:hover{ 
    transform: scale(1.09);
    }
    /* Row.css */
.row {
    background-color: white; /* Dark background for better contrast */
    margin-left: 20px;
  margin-right: 20px;
  padding: 10px 0;
  }
  
  /* .row-title {
    color: black;  
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0;
  }
   */

   .row-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background */
    padding: 10px;
  }